.containerregister{
    /* border:1px solid black; */
    height:620px;
    width:650px;
    margin:auto;
    margin-top: 10px;
    padding:10px;
    
}

.registerform{
    /* border:2px solid red; */
    height:500px;
    width:550px;
    margin: auto;
    padding:5px;
    
}